NET "button<0>" LOC = P58 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<1>" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<2>" LOC = P81 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<3>" LOC = P85 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<4>" LOC = P93 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<5>" LOC = P98 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<6>" LOC = P102 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<7>" LOC = P112 | IOSTANDARD = LVTTL | PULLDOWN;


NET "LIGHT<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "LIGHT<1>" LOC = P74 | IOSTANDARD = LVTTL;
NET "LIGHT<2>" LOC = P80 | IOSTANDARD = LVTTL;
NET "LIGHT<3>" LOC = P84 | IOSTANDARD = LVTTL;
NET "LIGHT<4>" LOC = P92 | IOSTANDARD = LVTTL;
NET "LIGHT<5>" LOC = P97 | IOSTANDARD = LVTTL;
NET "LIGHT<6>" LOC = P101 | IOSTANDARD = LVTTL;
NET "LIGHT<7>" LOC = P111 | IOSTANDARD = LVTTL;

NET "display1<0>" LOC =P41 | IOSTANDARD = LVTTL ;   
NET "display1<1>" LOC =P51 | IOSTANDARD = LVTTL ;   
NET "display1<2>" LOC =P27 | IOSTANDARD = LVTTL ;   
NET "display1<3>" LOC =P24 | IOSTANDARD = LVTTL ;   
NET "display1<4>" LOC =P22 | IOSTANDARD = LVTTL ;   
NET "display1<5>" LOC =P33 | IOSTANDARD = LVTTL ;   
NET "display1<6>" LOC =P30 | IOSTANDARD = LVTTL ;   

NET "display2<0>" LOC =P15 | IOSTANDARD = LVTTL ;   
NET "display2<1>" LOC =P17 | IOSTANDARD = LVTTL ; 
NET "display2<2>" LOC =P6 | IOSTANDARD = LVTTL ;   
NET "display2<3>" LOC =P2 | IOSTANDARD = LVTTL ;   
NET "display2<4>" LOC =P144 | IOSTANDARD = LVTTL ;   
NET "display2<5>" LOC =P10 | IOSTANDARD = LVTTL ;   
NET "display2<6>" LOC =P8 | IOSTANDARD = LVTTL ;   

NET "display3<0>" LOC =P140 | IOSTANDARD = LVTTL ;   
NET "display3<1>" LOC =P142 | IOSTANDARD = LVTTL ;  
NET "display3<2>" LOC =P132 | IOSTANDARD = LVTTL ;   
NET "display3<3>" LOC =P127 | IOSTANDARD = LVTTL ;   
NET "display3<4>" LOC =P124 | IOSTANDARD = LVTTL ;   
NET "display3<5>" LOC =P138 | IOSTANDARD = LVTTL ;   
NET "display3<6>" LOC =P134 | IOSTANDARD = LVTTL ;   

NET "display4<0>" LOC =P40 | IOSTANDARD = LVTTL;   
NET "display4<1>" LOC =P50 | IOSTANDARD = LVTTL;  
NET "display4<2>" LOC =P26 | IOSTANDARD = LVTTL;   
NET "display4<3>" LOC =P23 | IOSTANDARD = LVTTL;   
NET "display4<4>" LOC =P21 | IOSTANDARD = LVTTL;   
NET "display4<5>" LOC =P32 | IOSTANDARD = LVTTL;   
NET "display4<6>" LOC =P29 | IOSTANDARD = LVTTL;   